body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin-top: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    width: 150px;
    height: 150px;
    background-color: cornsilk;
    background-image: var(--card-image);
    cursor: pointer;
}